[Unit]
Description=Start jetson-yolo-cpp at 6 AM daily
Requires=vehicle-counter.service

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true

[Install]
WantedBy=timers.target
